@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url(fb.png) .yanone {
  font-family: "Indie Flower", cursive;
  /*    'Yanone Kaffeesatz', sans-serif;*/
}
a.navbar-brand.yanone {
  font-size: 1.8em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 4px;
  margin: 4px;
}
.arvo {
  font-family: "Arvo", serif;
}
/*Navigation bar custom styles */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #999;
  font-size: 28px;
  font-weight: 800;
  line-height: 20px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #008000;
}
/*jumbotron styles*/
.jumbotron {
  text-align: center;
}

.jumbotron img {
  width: 850px;
  height: 550px;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
}
.jumbotron h1 {
  text-transform: uppercase;
}
.jumbotron p {
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background: rgba(54, 53, 53, 0.5);
  padding: 30px 5px 30px 5px;
  font-size: 40px;
}
/* about us styling */
.section-heading {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 80px;
  font-weight: 800px;
  padding-top: 60px;
}
#about p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
}
#about li {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
}
/*contact us selection styling*/
#contact h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
}
#contact h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
}
#contact p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
}
/*footer style*/

footer {
  margin-top: 20px;
  background: black;
  color: #fff;
  font-family: "Arvo", serif;
  text-align: center;
}
.photo {
  margin: 10px 0;
  width: ((100% - (4 * 2%))/4);
  margin-right: 2%;
  background: white;
  padding: 10px;
  opacity: 0.7;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.photo img {
  width: 120px;
  flex-basis: 100%;
}
.photo figcaption {
  margin-top: 10px;
  font-size: 0.8em;
}

.photo:hover {
  opacity: 1;
  transition: 0.3s all linear;
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .jumbotron img {
    width: 330px;
    height: 300px;
    padding: 10px;
    margin: 15px;
  }
  .jumbotron h1 {
    font-size: 45px;
  }
  .jumbotron p {
    font-size: 25px;
  }
  .section-heading {
    font-size: 45px;
    padding-top: 30px;
  }
}
